cache:
  directories:
    - $HOME/.composer/cache

sudo: false

language: php
php:
  - 5.6
  - 7.0
  - hhvm

env:
  global:
    - APP_ENV='testing'

  matrix:
    - DB="pgsql" REPO="$TRAVIS_BUILD_DIR/public/resources/default/" REPO_TYPE="local"
    - DB="mysql" REPO="$TRAVIS_BUILD_DIR/public/resources/default/" REPO_TYPE="local"
    #- DB="sqlite" REPO="$TRAVIS_BUILD_DIR/public/resources/default/" REPO_TYPE="local" Broken SQLITE

    #- DB="pgsql" REPO="http://technic.pagefortress.com/" REPO_TYPE="remote" Broken URL
    #- DB="mysql" REPO="http://technic.pagefortress.com/" REPO_TYPE="remote" Broken URL
matrix:
  fast_finish: true
  exclude:
    - php: hhvm
      env: DB="pgsql" REPO="$TRAVIS_BUILD_DIR/public/resources/default/" REPO_TYPE="local" # driver for PostgreSQL currently unsupported by HHVM, requires 3rd party dependency
    - php: hhvm
      env: DB="pgsql" REPO="http://technic.pagefortress.com/" REPO_TYPE="remote" # driver for PostgreSQL currently unsupported by HHVM, requires 3rd party dependency

before_install:
  - "echo Using Mod files from $REPO"
  - "echo Disabling xdebug; rm -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini"
  - "travis_retry composer self-update"

install:
  - "cp app/config-sample app/config -r"
  - "travis_retry composer install --prefer-source --no-interaction"
  - "php artisan env"

  - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'DROP DATABASE IF EXISTS solder;' -U postgres; fi"
  - sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'create database solder;' -U postgres; fi"
  - sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'create database IF NOT EXISTS solder;'; fi"

  - php artisan migrate:install
  - php artisan migrate
  - php artisan db:seed --class="TestSeeder"

script:
  - "vendor/bin/phpunit --verbose"

after_script:
  - cat app/storage/logs/*