cache:
  directories:
  - "$HOME/.composer/cache"
  - vendor
sudo: false
language: php
php:
- 5.6
- 7.0
- hhvm
env:
  global:
  - APP_ENV='testing'
  - secure: argqJ0YZqkn8Z0WtunTCc45l2FgYoi5flzWem81j7cv+XJ1wCjiBlX9/NXAP4iG9pab5iuy2Raf1M9UEBJfakZD4zyR+UAc8AqPE7UKdkHSHAgjM7IQCF4dcuJ1+N3detSCKdeX26JMASqHf3zirEmhhzBHKS8fgMScl5ypE2Wpk6luWQqm4xLwoh+Oub8sEyA6nZZuGIJmrXCe2AuQ4LFmt12iGeVcdyKvH3xUJNtLTOMhDgyG7fa6LnpPtXG6EXzsDsG1n1E6adfWQgbhY6vXP22wKhJqoWVXp/Km2/FtXG8xCsiUV5k0eP90eht4B+SxCZwkTw7Xay/N/Gn4fjy8PTnf2qAMb+Y0vY4GrYYJ9rdz+79uzc2YNV307LAjQ+ud0AGacn4eJl3MUEa33GC0ZZJermusGYQGk7iziT3bBz92BRqvwOw917pviW3O67SAB30sBn53BhYc9u5vf4ikogNpxW0aNl45QWGP1EPqm8xurCGRy64VVNOckLjl3HOYJdID0pvG7V9Zzfb2eYUa1E+7496dwntyXbU9vfsDrDrB++rsQT8yhVb6+02GSc9ZmJwKJ0xM1a1KyK1+24nG7oJRnr3LvW2qjiCeMIIhepHJLh9HC6gzC5CQ5DczOvA441bOP7tIPkhRkaNTPtV0FQ0ZYN0fv2SZh6T/CG7Y=
  - secure: Y4lyZ0Md2uLXRSTStLuuoSc4+eOaWUo2CYDrXElNIc0auQ0R5SVMifD4VPLEXIzEq6etRN7O411Dw9ktdMIbPIYyjjv7znlXsAKDHSM2591+XPoiH9Ta0k35fyaMNZA3KXYQbAdgcdutGn9DNyHq7JjzXVU9vlMlaF7OzW6wqywZApHyaV3ctnarAJG41pQrAU9C/eFLVvdxyDL48pAt1+fXdrYdFuMB+UlwxLvmn3dNsgK3k/gZHg/dOnMvEgDRJKx7LLkXQHC1f0tDK3P7oIDYsDxpGmRqZaR2we++0VYqgGEuqF5kd4SclykebE9aE1Yqm6V2KPvnSjVeLPP0N3vtVev3FB2LnyW3U2C6TkJvPpQzQwRuEmBff0XxgpZVYWJ5lSSEGqcuahzxpkEyFV1q3Ww08Klzz0jXOBIDGvgxQG0ypZjCNnwvDIwmQsBarlwsYsSYU6sZBuo8dmofnW4Iof392HHXd4aMGgJkgedT+ilAh3eJHvOcBxXS7v8zCPX4TIEz3vccw12sGn9oEgbvwOs03H1ZpOKa6BDPT+NFAN7J/r72uBaGfzMYytyJZGIEmPOOFPPEBwGEAbEyc91y3EZN6zVuN/4ms2cKojnW4asAq3VbOWeOgtPJj1oiLvsKvhskSLhJ3hKt1+lazjnfU2vEG8ZZn6rgnUTgctI=
  matrix:
  - DB="pgsql" REPO="$TRAVIS_BUILD_DIR/public/resources/default/" REPO_TYPE="local"
  - DB="mysql" REPO="$TRAVIS_BUILD_DIR/public/resources/default/" REPO_TYPE="local"
matrix:
  fast_finish: true
  exclude:
  - php: hhvm
    env: DB="pgsql" REPO="$TRAVIS_BUILD_DIR/public/resources/default/" REPO_TYPE="local"
  - php: hhvm
    env: DB="pgsql" REPO="http://technic.pagefortress.com/" REPO_TYPE="remote"
before_install:
#- echo Using Mod files from $REPO
#- echo Disabling xdebug; rm -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
#- travis_retry composer self-update
install:
- cp app/config-sample app/config -r
#- travis_retry composer install --prefer-source --no-interaction
- php artisan env
- sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'DROP DATABASE IF EXISTS solder;' -U
  postgres; fi"
- sh -c "if [ '$DB' = 'pgsql' ]; then psql -c 'create database solder;' -U postgres;
  fi"
- sh -c "if [ '$DB' = 'mysql' ]; then mysql -e 'create database IF NOT EXISTS solder;';
  fi"
- php artisan migrate:install
- php artisan migrate
- php artisan db:seed --class="TestSeeder"
script:
#- travis_retry vendor/bin/phpunit --verbose
after_script:
- cat app/storage/logs/*
- ls -lR $REPO
deploy:
  provider: script
  skip_cleanup: true
  script: sh $TRAVIS_BUILD_DIR/build-tools/deploy.sh
